# файлы, сгенерированные во время выполнения
*.log
*.lock
*.tmp
*.old


##################################################
### каталоги для выходных данных сборки ###
##################################################
bin/
out/
target/
logs/
project-temp/
# C++
build/


##################################################
### Windows system files ###
##################################################
Thumbs.db


##################################################
### MySQL Workbench ###
##################################################
*.mwb


##################################################
### Diagram software ###
##################################################
*.drawio


##################################################
### PhpStorm ###
##################################################
.idea/


##################################################
### C++ ###
##################################################
*.d
# скомпилированные объектные файлы
*.slo
*.lo
*.o
*.obj
# предварительно скомпилированные заголовки
*.gch
*.pch
# скомпилированные динамические библиотеки
*.so
*.dylib
*.dll
# файлы модулей Fortran
*.mod
*.smod
# скомпилированные статические библиотеки
*.lai
*.la
*.a
*.lib
# исполняемые файлы
*.exe
*.out
*.app


##################################################
### SublimeText ###
##################################################
*.sublime-project
*.sublime-worspace


##################################################
### Vagrant ###
##################################################
*.box
.vagrant/
# Vagrant контейнеры
VagrantBoxes/


##################################################
### Visual Studio Code ###
##################################################
*.code-workspace
.vscode/