# файлы, сгенерированные во время выполнения
*.log
*.lock
*.tmp
*.old


# Windows system files
Thumbs.db


# MySQL Workbench
*.mwb


# Vagrant
*.box
.vagrant/


# Visual Studio Code
*.code-workspace
.vscode/
