# редакторы
.idea/
*.sublime-project
*.sublime-worspace
*.code-workspace
.vscode/
.vs/

# каталоги для выходных данных сборки
bin/
out/
target/
logs/
project-temp/

# файлы, сгенерированные во время выполнения
*.log
*.lock
*.tmp
*.old

# Windows system files
Thumbs.db

# MySQL Workbench
*.mwb

# Diagram software
*.drawio

# каталоги проекта
.vagrant/
data-backup/mysql/mysql-dump/
#data-www/
data-tmp/